body {
  width: 960px;
  margin: 30px auto;
  font-family: Helvetica;
}
img {
  max-width: 100%;
  margin: 20px 0 0 0;
}

th {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  padding: 5px 40px 5px 0;
}

td {
  padding: 5px 40px 5px 0;
}